a:hover {
    color: inherit;
}

body {
    background: rgb(108, 70, 232);
    background: -moz-linear-gradient(45deg, rgba(108, 70, 232, 1) 0%, rgba(78, 89, 243, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(108, 70, 232, 1) 0%, rgba(78, 89, 243, 1) 100%);
    background: linear-gradient(45deg, rgba(108, 70, 232, 1) 0%, rgba(78, 89, 243, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6c46e8", endColorstr="#4e59f3", GradientType=1);
}

.center-card {
    width: 360px;
}

.btn-info,
.btn-info:hover {
    color: #000;
    background-color: #41e8a8;
    border-color: #41e8a8;
}

.form-label {
    margin-bottom: .4rem;
    font-size: .8rem;
    font-weight: 500;
    color: #757575;
}

.form-control {
    background: #ececec;
}

.nav-link {
    color: #4c4c4c;
    font-weight: 500;
    opacity: .7;
}

.nav-link.active {
    color: #2196f3;
    opacity: 1;
}
